<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.herbert.mapper.StudentMapper" >
	<insert id="saveStudent" parameterType="student" >
		<selectKey resultType="integer" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		<!-- 注意：这里如果不加表后不加属性约束，value后面的值要严格按照表字段顺序插入 -->
		insert into t_student(username,password,sno,sex) values (#{username},#{password},#{sno},#{sex})
	</insert>

</mapper>